<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<header>
    <h1>Home - Records</h1>
</header>

<main>
    <section class="container">
        <h3>Records</h3>
        <div>
            <ul id="records-list"></ul>
        </div>
        <button id="btn-refresh-records-list">Update List</button>
    </section>
</main>


<script src="/api/public/js/records.js"></script>