<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<header>
    <h1>Records <br> In Real Time</h1>    
</header>

<main>
    <div class="main-container">
    <div class="list-containers">
        <section class="container">
            <h3>Records</h3>
            <div>
                <ul id="records-list"></ul>
            </div>        
        </section>
    </div>
    <div class="forms-containers">
        <section class="container">
            <h3>Add Record</h3>
            <form id="records-form">
                <input type="text" name="title" placeholder="Record name...">
                <div>Record active? <input type="checkbox" name="status"></div>
                <input type="number" name="stock" placeholder="Stock...">

                <input class="stock-btn" type="submit" value="save" placeholder="Add..">

            </form>
        </section>
    
        <section class="container">
            <h3>Remove Record</h3>
            <div>
                <input type="number" id="input-record-id" placeholder="Insert Record Id...">
                <button id="btn-delete-record">Delete</button>
            </div>
        </section>
        <p id="error-message" style="color: tomato;"></p>
        </div>
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/records.socket.js"></script>