<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<header>
    <h1>Real-Time Records</h1>
</header>

<main>
    <section class="container">        
        <h3>Add a New Record</h3>
        <form id="records-form">
            <input type="text" name="title" placeholder="Title" required />
            <input type="text" name="artist" placeholder="Artist" required />
            <input type="number" name="year" placeholder="Year" required />
            <input type="text" name="genre" placeholder="Genre" required />
            <input type="text" name="condition" placeholder="Condition" required />
            <input type="number" step="0.01" name="price" placeholder="Price" required />
            <input type="number" name="stock" placeholder="Stock" required />
            <button type="submit">Add Record</button>
        </form>
        <p id="error-message" style="color: red;"></p>
    </section>

    <section class="container">        
        <h3>Records List</h3>
        <ul id="records-list"></ul>
    </section>
</main>

<!-- Importar el script de JavaScript -->
<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/records.socket.js"></script>
